{% extends "main_template.html" %}

{% load static %}

{% block over_view_contact %}
<p>
<font style="color:blue">Footballsurebets gives sure 20+ odds daily and guarenteed 30 days winning in roll over and vip subscription at</font>
At <font style="color:blue">10,000 Naira, ksh 6,000, 30 Usd</font>
Talk with us with our live chat system, whatsapp <font style="color:blue">+2349026541997</font> or
     <font style="color:blue">mailromeoclef@gmail.com</font> =><font style="color:red"> 20+ Odds Daily</font>
<p>
{% endblock %}
